# Chapter 3 판다스 데이터 프레임과 시리즈

데이터 프렝미과 시리즈는 리스트나 딕셔너리와 비슷하지만 데이터를 다루는 데 더 특화되어 있다. 리스트와 딕셔너리는 많은양의 데이터를 저장하거나 데이터를 조작할 수 있는 메서드가 많지 않지만 판다스의 데이터 프레임과 시리즈는 많은 양의 데이터를 저장 가능하다. 또한, 엑셀처럼 행과 열 단위로 원하는 데이터를 조작할수 있는 다양한 **속성**과 **메서드**를 제공한다. 목차는 다음과 같다.

 - 3-1 나만의 데이터 만들기
 - 3-2 시리즈 다루기 - 기초
 - 3-3 시리즈 다루기 - 응용
 - 3-4 데이터프레임 다루기
 - 3-5 시리즈와 데이터프레임의 데이터 처리하기
 - 3-6 데이터 저장하고 불러오기

## 3-1 나만의 데이터 만들기

#### 1. 시리즈 만들기 

판다스의 Series 메서드에 리스트럴 전달하여 시리즈를 생성 한다.

In [1]:
import pandas as pd

In [4]:
s = pd. Series(['banana', 42])
s

0    banana
1        42
dtype: object

In [5]:
s = pd.Series(['Wes McKinney', 'Creator of Pandas'])
s

0         Wes McKinney
1    Creator of Pandas
dtype: object

#### 2. 
series를 생설할 때 문자열을 인덱스로 지정할 수도 있다. 문자열을 인덱스로 지정하려면 Series메서드의 index 인자를 통해 인덱스로 사용하고자 하는 문자열을 리스트에 담아 전달하면 된다.

In [6]:
s = pd.Series(['Wes McKinney', 'Creator of Pandas'], index=['Person', 'Who'])
s

Person         Wes McKinney
Who       Creator of Pandas
dtype: object

#### 3. 데이터프레임 생성

데이터프레임을 만들기 위해서든 딕셔너리를 DataFrame 클래스에 전달 한다.

In [8]:
scientists = pd.DataFrame({
    'Name': ['Rosaline Franklin', 'William Gosset'],
    'Occupation' : ['Chemist', 'Statistician'],
    'Born': ['1920-07-05', '1876-06-13'],
    'Died': ['1958-04-16', '1937-10-16'],
    'Age': [37,61]}
)
scientists

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-05  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

#### 4.
시리즈와 마찬가지로 데이터프레임도 인덱스를 따로 지증하지 않으면 인덱스를 0부터 자동으로 생성한다. 인덱스를 따로 지정하려면 index 인자에 리스트를 전달하면 된다. 또한, columns인자를 사용하면 데이터프레임의 열 순서를 지정할 수 있다.

In [14]:
scientists = pd.DataFrame(
    data={'Occupation' : ['Chemist', 'Statistician'],
    'Born': ['1920-07-05', '1876-06-13'],
    'Died': ['1958-04-16', '1937-10-16'],
    'Age': [37,61]},
    index=['Rosaline Franklin', 'William Gosset'],
    columns=['Occupation', 'Born', 'Age', 'Died']
)

scientists

                     Occupation        Born  Age        Died
Rosaline Franklin       Chemist  1920-07-05   37  1958-04-16
William Gosset     Statistician  1876-06-13   61  1937-10-16

#### 5. 
과정 1에서 데이터프레임을 만들 때